#!/usr/bin/make -f

export PYBUILD_DESTDIR_python2=debian/python-parted
export PYBUILD_DESTDIR_python2-dbg=debian/python-parted-dbg
export PYBUILD_DESTDIR_python3=debian/python3-parted
export PYBUILD_DESTDIR_python3-dbg=debian/python3-parted-dbg


%:
	dh $@ --with python2,python3 --buildsystem=pybuild
